body {
    background-color: black;
    color: white;
}

.cell {
    background-color: black;
    border-color: white;
    color: white;
}

.cell[data-player="X"] {
    color: yellow;
}

.cell[data-player="O"] {
    color: cyan;
}
